h1{
    text-align: center;
}
body{
    background-color: #00224D;
    margin: 0;
    padding: 0;
    
}
header{
    background-color: #385170;
    color: #ececec;
    font-size: 150%;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #142d4c;
    padding: 10px;
    text-align: center;
    color: #ececec;
    font-size: 23px;
    color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}
.contenido{
    background-color: #ececec;
    text-align: justify;
    font-size: 23px;
    margin: 1%;
    padding: 1%;
    color: #0C2D57;
    font-family: Arial, Helvetica, sans-serif;
   
}
img{
    height: 50%;
    width: 50%;
}
h2 {
    text-align: center;
}

form {
    text-align: center;
}

input[type="file"] {
    display: none;
}

label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
